apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment-deep-health
  namespace: lex
  labels:
    app: nginx-deployment-deep-health
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx-deployment-deep-health
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: nginx-deployment-deep-health
        lex: enabled
    spec:
      containers:
      - image: nginx:latest
        imagePullPolicy: IfNotPresent
        name: nginx
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /.well-known/health
            port: 80
            scheme: HTTP
          periodSeconds: 20
          successThreshold: 1
          timeoutSeconds: 3
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /.well-known/health
            port: 80
            scheme: HTTP
          periodSeconds: 20
          successThreshold: 1
          timeoutSeconds: 3
        startupProbe:
          failureThreshold: 30
          httpGet:
            path: /.well-known/health
            port: 80
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 200m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 64Mi
